/node_modules
/vendor
/.env
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/.git
/.github
/.vscode
.dockerignore
.gitignore
README.md
phpunit.xml
tests
scratch
composer.phar
